body{
    background-image: food unsplash;
    background-size: cover;
}
li{
    float:left;
    font-size: 30px;
}
.container{
    width:50px;
    height:100px;
    background-color:blanchedalmond;
}

nav{

}